/* Fonts

Good, legible Google webfonts for IRC: Archivo, Exo 2, Fira Sans, Heebo, IBM Plex Sans, Noto Sans, Open Sans, Roboto, Rubik, Source Sans Pro, Titillium Web, Ubuntu
*/
@font-face {
  font-family: 'SF Mono';
  src: url('fonts/sfmono-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/sfmono-regular.eot?#iefix') format('embedded-opentype'), url('fonts/sfmono-regular.woff2') format('woff2'), url('fonts/sfmono-regular.woff') format('woff'), url('fonts/sfmono-regular.ttf') format('truetype'), url('fonts/sfmono-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SF Mono';
  font-weight: 700;
  src: url('fonts/sfmono-bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/sfmono-bold.eot?#iefix') format('embedded-opentype'), url('fonts/sfmono-bold.woff2') format('woff2'), url('fonts/sfmono-bold.woff') format('woff'), url('fonts/sfmono-bold.ttf') format('truetype'), url('fonts/sfmono-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SF Mono';
  font-weight: 300;
  src: url('fonts/sfmono-light.eot'); /* IE9 Compat Modes */
  src: url('fonts/sfmono-light.eot?#iefix') format('embedded-opentype'), url('fonts/sfmono-light.woff2') format('woff2'), url('fonts/sfmono-light.woff') format('woff'), url('fonts/sfmono-light.ttf') format('truetype'), url('fonts/sfmono-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Alliance No. 1';
  font-weight: 300;
  src: url('fonts/allianceno1-light.eot'); /* IE9 Compat Modes */
  src: url('fonts/allianceno1-light.eot?#iefix') format('embedded-opentype'), url('fonts/allianceno1-light.woff2') format('woff2'), url('fonts/allianceno1-light.woff') format('woff'), url('fonts/allianceno1-light.ttf') format('truetype'), url('fonts/allianceno1-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Alliance No. 1';
  src: url('fonts/allianceno1-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/allianceno1-regular.eot?#iefix') format('embedded-opentype'), url('fonts/allianceno1-regular.woff2') format('woff2'), url('fonts/allianceno1-regular.woff') format('woff'), url('fonts/allianceno1-regular.ttf') format('truetype'), url('fonts/allianceno1-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Alliance No. 1';
  font-weight: 500;
  src: url('fonts/allianceno1-medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/allianceno1-medium.eot?#iefix') format('embedded-opentype'), url('fonts/allianceno1-medium.woff2') format('woff2'), url('fonts/allianceno1-medium.woff') format('woff'), url('fonts/allianceno1-medium.ttf') format('truetype'), url('fonts/allianceno1-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Alliance No. 1';
  font-weight: 600;
  src: url('fonts/allianceno1-semibold.eot'); /* IE9 Compat Modes */
  src: url('fonts/allianceno1-semibold.eot?#iefix') format('embedded-opentype'), url('fonts/allianceno1-semibold.woff2') format('woff2'), url('fonts/allianceno1-semibold.woff') format('woff'), url('fonts/allianceno1-semibold.ttf') format('truetype'), url('fonts/allianceno1-semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font: 14px 'Alliance No. 1', -apple-system, 'Roboto', 'Rubik', system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial;
  /* -moz-osx-font-smoothing: grayscale; */
  -webkit-font-smoothing: subpixel-antialiased;
  /* text-rendering: geometricPrecision; */
  text-size-adjust: none;
}

/* Variables */
:root {
  --body-color: #222;
  --body-color-muted: #767676;
  --body-bg-color: #13131a;
  --button-color: #84ce88;
  --button-text-color-hover: #fff;
  --overlay-bg-color: rgba(0, 0, 0, .5);
  --link-color: #364882;
  --window-bg-color: #fff;
  --window-heading-color: #6c797a;
  --date-marker-color: rgba(0, 107, 59, .5);
  --unread-marker-color: rgba(231, 76, 60, .5);
  --highlight-bg-color: #c0c5ef52;
  --highlight-border-color: #9093cc;
  --upload-progressbar-color: var(--button-color);
  --font-size: 15px;
  --font-size-msg: 15px;
  --font-size-channel-list: 15px;
  --font-weight-msg: 300;
  --font-weight-user: 500;
}

.from .user {
  font-weight: var(--font-weight-user);
}

.channel-list-item .add-channel::before {
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial;
  font-size: 19px;
}


/* Mobile vars */
@media (max-width: 500px) {
  :root {
    --font-size: 16px;
    --font-size-msg: 16px;
    --font-size-channel-list: 16px;
  }
}

#loading .window {
  margin: 5px;
}

#viewport {
  padding: 0;
}

#viewport.menu-open {
  padding-left: 0;
}

.window {
  border-radius: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, .5);
}

#chat .chat-view[data-type=channel] .msg.highlight {
  border-left: 0 !important;
}

@media (max-width: 768px) {
  #loading .window {
    margin: 0;
  }

  #viewport,
  #viewport.menu-open {
    padding: 0;
  }

  #footer .icon {
    border-radius: 0;
  }

  .window {
    border-radius: 0;
  }
}

#chat .time {
  font-size: 14px;
  font-weight: 300;
  opacity: .2;
  order: 8;
  transition: all .55s;
}

#chat .time:hover {
  opacity: .8;
}

.messages .msg {
  font-size: var(--font-size-msg);
  font-weight: var(--font-weight-msg);
  line-height: 1.45;
}

@media (max-width: 500px) {
  .messages .msg {
    line-height: 1.4;
  }
}

@media (min-width: 480px) {
  #chat .from {
    padding-left: 20px;
    width: 144px;
  }
}

/* Styles */
.messages .msg,
textarea,
input {
  font-size: var(--font-size-msg) !important;
}

.channel-list-item.active,
.channel-list-item {
  background: transparent;
}

.channel-list-item:hover {
  background: #303e4a;
  transition: all .55s;
}

@media (max-width: 479px) {
  #chat .condensed-summary .from,
  #chat .condensed-summary .time {
    display: block !important;
  }

  #chat .msg:not(.closed):not([data-type=condensed]),
  #chat .msg:not(.closed):not([data-type=condensed])[data-type="message"] {
    display: flex;
  }

  #chat .msg.closed[data-type=condensed] .msg {
    display: none !important;
  }

  #chat .time {
    overflow: visible;
    white-space: nowrap;
    width: 35px !important;
  }

  #chat .from {
    flex: 0 0 auto;
    -webkit-mask-image: linear-gradient(270deg, transparent, #000 10px) !important;
    mask-image: linear-gradient(270deg, transparent, #000 10px) !important;
    padding: 2px 10px 0 0 !important;
    width: 75px !important;
  }

  #chat .content {
    border-left: 1px solid #eee !important;
    flex: 1 1 auto !important;
    min-width: 0 !important;
    overflow: hidden !important;
    padding: 2px 6px 2px 10px !important;
    text-align: left !important;
  }
}

#chat .content {
  border-left: 1px solid #eee !important;
}

.channel-list-item[data-type=channel]::before,
.context-menu-chan::before {
  content: "\f086";
}

@media (min-width: 770px) {
  .channel-list-item::before {
    line-height: 18px;
    margin-right: 12px;
    width: 15px;
  }

  #sidebar .empty,
  .channel-list-item {
    font-size: 16px;
  }
}

.jump-to-input {
  display: none;
}

.logo-container {
  height: 0 !important;
  margin-top: -7px !important;
  opacity: 0 !important;
}

.networks {
  margin-top: 10px;
}

.channel-list-item[data-type=lobby],
.irc-bold,
#chat .toggle-content .head {
  font-weight: 500;
}

#chat.colored-nicks .user.color-31,
#chat.colored-nicks .user.color-5 {
  color: #40407a;
}

#chat button.menu,
#viewport .lt,
#viewport .rt {
  margin-top: 4px;
}

body #chat .toggle-content .thumb {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-width: 90px;
  object-fit: cover;
  width: 90px;
}

#chat .toggle-content {
  align-items: center;
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: none;
  margin-bottom: 3px;
  margin-top: 7px;
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
}

#chat .toggle-content:not(.toggle-type-image) .toggle-thumbnail {
  max-height: 68px;
}

#chat .toggle-content .toggle-thumbnail {
  height: 100%;
}

#chat .toggle-content.opened {
  align-items: flex-start;
}

#chat .toggle-content .toggle-text {
  font-size: 15px;
  padding: 11px 15px;
}

@media (max-width: 500px) {
  #chat .toggle-content .thumb {
    max-height: 54px;
    min-height: 0;
  }

  #chat .toggle-content .toggle-text {
    font-size: 14px;
    padding: 8px 10px;
  }

  #form #submit,
  #form #upload {
    font-size: 18px;
  }
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, .2);
}

#form #input {
  height: 19px !important;
  max-height: 100% !important;
  overflow-x: none !important;
  overflow-y: auto !important;
}

.textcomplete-item a {
  color: var(--body-color-muted) !important;
}

.textcomplete-item a:hover {
  color: var(--body-color) !important;
}

#chat .msg[data-type=condensed] .msg,
#chat .msg {
  padding-bottom: 0;
  padding-top: 0;

  @media (max-width: 479px) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

#chat .from::after,
#chat .from::after {
  display: none !important;

  @media (max-width: 479px) {
    display: none !important;
  }
}

@media (max-width: 479px) {
  #chat .chat-view[data-type=channel] .msg.highlight {
    padding-left: 10px;
  }
}
