@import '../../thelounge-theme-midnight/src/midnight';

@media (max-width: $breakpoint-mobile) {
  :root {
    --font-size: 19px;
    --font-size-nick: 19px;
    --font-size-msg: 19px;
    --font-size-channel-list: 16px;
    --font-size-embed-text: 14px;
    --font-size-inputs: 16px;
    --font-size-join-button: 16px;
    --font-size-chat-timestamp: 14px;
  }
}

// Unified font-sizes
div[data-type="message"],
#chat .msg,
#chat .msg.self,
#chat .msg .content,
#chat .msg.self .content,
#chat .chat-view[data-type=channel] .msg.highlight,
#chat .msg:only-of-type,
#chat .msg:only-of-type .content,
#chat .msg.previous-source,
#chat .msg.selfprevious-source,
#chat .msg.previous-source .content {
  font-size: var(--font-size-msg) !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
